*.elc
/kkcrc
/recentf
/tramp
auto-save-list/
eshell/
/emacs.el
/ac-comphist.dat
elpa/
lisp/*.elc
/super-secret-directory/
url/
/image-dired/*
/.python-environments/*
/custom.el
/profile-dotemacs.el
/lisp/feeds.el
