# ignore compiled files
*.elc

# settings file
settings.el
custom.el

# machine specific stuff
transient/
elpa/
backups/
auto-save-list/
url/
history
bookmarks

# project/projectile stuff
projectile-bookmarks.eld
projects
